/*Colour Codes*/

$purple: #8678ab;

$white: #fff;

$light-grey: #eeeae7;

$bluish-grey: #929a9d;

$peach: #efb68b;

$green-tea: #addebe;

/*Padding settings*/
$padding: 14px 24px;

$middle: center;

$full_width: 100% 100%;